<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Requerimientos</title>
  <link rel="stylesheet" href="/Styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
  <!-- Barra de navegación -->
  <nav class="sidebar">
    <div class="sidebar-header">
      <img src="/Assets/arriendo.png" alt="logo" class="logo" width="150px">
      
    </div>
    <ul class="sidebar-menu">
      <li><a th:href="@{/home}"><i class="fas fa-home"></i> Descripción del proyecto</a></li>
      <li><a th:href="@{/requirements}" id="actualSection"><i class="fas fa-angle-right"></i> Requerimientos</a></li>
      <li><a th:href="@{/architecture}"><i class="fas fa-angle-right"></i> Arquitectura del proyecto</a></li>
      <li><a th:href="@{/development}"><i class="fas fa-angle-right"></i> Desarrollo</a></li>
      <li><a th:href="@{/tests}"><i class="fas fa-angle-right"></i> Pruebas</a></li>
      <li><a th:href="@{/deploy}"><i class="fas fa-angle-right"></i> Despliegue</a></li>
      <li><a th:href="@{/contact}"><i class="fas fa-envelope"></i> Contactenos</a></li>
      <li><a th:href="@{/about}"><i class="far fa-address-card"></i> Sobre nosotros</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <main class="content">
    <button class="toggle-btn" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
    <h1>Requerimientos</h1>
    <table border ="1">
      <thead>
      </thead>
      <tbody>
        <tr>
            Arrendador
        </tr>
        <tr>
          <td>
            <b>Codigo</b>
          </td>
          <td>
            <b>Descripcion</b> 
          </td>
          <td>
            <b>¿Por que es necesario?</b>
          </td>
          <td>
            <b>Prioridad</b>
          </td>
        </tr>
        <tr>
          <td>
            RO1
          </td>
          <td>
            El sistema debe permitir el registro de usuarios nuevos 
          </td>
          <td>
            Organizacion,seguridad,manejo de registros
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R02
          </td>
          <td>
            El sistema debe permitir al usuario nuevo la activacion de su cuenta
          </td>
          <td>
            Organizacion,seguridad,manejo de registros
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R03
          </td>
          <td>
            El sistema debe permitir al usuario identificarse mediante su correo y clave 
          </td>
          <td>
            Organizacion,seguridad,manejo de registros
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R04
          </td>
          <td>
            El sistema debe mostrar las propiedades registradas a nombre del usuario
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R05
          </td>
          <td>
            El sistema debe permitir crear o registrar las propiedades del usuario
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R06
          </td>
          <td>
            El sistema debe permitir al usuario modificar sus propiedades
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R07
          </td>
          <td>
            El sistema debe permitir publicar fotos de la propiedad del usuario 
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R08
          </td>
          <td>
            El sistema debe permitir desactivar las propiedades del usuario
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R09
          </td>
          <td>
            El sistema debe mostrar al usuario las solicitudes de arriendo de sus propiedades
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R10
          </td>
          <td>
            El sistema debe permitir aceptar o rechazar las solicitudes de arriendo
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R11
          </td>
          <td>
            El sistema debe permitir al usuario calificar el arrendatario
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Media
          </td>
        </tr>
      </tbody>
    </table>

  </br>
    <table border ="1">
      <thead>
      </thead>
      <tbody>
        <tr>
            Arrendatario
        </tr>
        <tr>
          <td>
            <b>Codigo</b>
          </td>
          <td>
            <b>Descripcion</b> 
          </td>
          <td>
            <b>¿Por que es necesario?</b>
          </td>
          <td>
            <b>Prioridad</b>
          </td>
        </tr>
        <tr>
          <td>
            R12
          </td>
          <td>
            El sistema debe permitir el registro de usuarios nuevos 
          </td>
          <td>
            Organizacion,seguridad,manejo de registros
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R13
          </td>
          <td>
            El sistema debe permitir al usuario nuevo la activacion de su cuenta
          </td>
          <td>
            Organizacion,seguridad,manejo de registros
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R14
          </td>
          <td>
            El sistema debe permitir al usuario identificarse mediante su correo y clave 
          </td>
          <td>
            Organizacion,seguridad,manejo de registros
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R15
          </td>
          <td>
            El sistema debe mostrar las propiedades filtradas por el arrendatario
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R16
          </td>
          <td>
            El sistema debe permitir al arrendatario crear una soicitud de reserva para una propiedad
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R17
          </td>
          <td>
            El sistema debe permitir al arrendatario ver las solicitudes de arriendo creadas
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R18
          </td>
          <td>
            El sistema debe permitir al arrendatario pagar las solicitudes de arriendo
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Alta
          </td>
        </tr>
        <tr>
          <td>
            R19
          </td>
          <td>
            El sistema debe permitir al arrendatario calidicar la propiedad reservada
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Medio
          </td>
        </tr>
        <tr>
          <td>
            R20
          </td>
          <td>
            El sistema debe permitir al arrendatario calificar al arrendador
          </td>
          <td>
            Organizacion,seguridad,manejo de registros,Facilidad de uso
          </td>
          <td>
            Media
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <script src="/Scripts/navbarscript.js"></script>
</body>
</html>