body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* Asegura que sidebar y contenido se comporten bien */
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #07131B;
  color: white;
  transition: width 0.3s ease;
  border-right: #8f8f8f solid 1px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  scrollbar-color: #8f8f8f #07131B;
}

.sidebar-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07131B;
}

.sidebar-header h2 {
  margin: 0;
  font-size: 1.5rem;
  padding-left: 30%;
}

.toggle-btn {
  background: none;
  border: none;
  color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-menu li a i {
  margin-right: 10px;
}

/* Contenido principal */
.content {
  flex: 1; /* Ocupará todo el ancho disponible */
  padding: 20px;
  background-image: url("../Assets/fondo.png");
  background-size: cover;
  background-position: center;
  color: aliceblue;
  text-align: center;
  min-height: 100vh; /* Asegura que el contenido tenga altura suficiente */
  margin-left: 200px; /* Solo cuando la sidebar está visible */
  display: flex;
  flex-direction: column;
}

.content_about_us {
  flex: 1; /* Ocupará todo el ancho disponible */
  padding: 20px;
  background-image: url("../Assets/fondo.png");
  background-size: cover;
  background-position: center;
  color: aliceblue;
  text-align: center;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que el contenido tenga altura suficiente */
  margin-left: 200px; /* Solo cuando la sidebar está visible */
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: space-between; /* Ajusta la distribución entre imágenes */
  gap: 30px
}
.image-container img {
  width: 180px; /* Tamaño uniforme para todas las imágenes */
  height: 180px;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border-radius: 10px; /* Opcional: bordes redondeados */
}

.image-item p {
  margin-top: 5px; /* Espacio entre la imagen y la información */
}

/* Resaltar sección actual */
#actualSection {
  color: rgb(255, 252, 58);
  font-weight: bold;
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }

  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: rgb(255, 252, 58);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .sidebar.active {
    width: 200px;
  }

  .content {
    margin-left: 0; /* Cuando la sidebar está oculta */
  }
}
